@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

h1, h2, h5, h6, span {
  font-family: "Dancing Script", cursive;
}

p, button, h3, h4 {
  font-family: "Open Sans", sans-serif;
}

.nav {
  padding: 1em;
  width: 100%;
  position: fixed;
  z-index: 9;
  background-image: url("/images/menu-bg.jpg");
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3.2rem;
  color: #ffffff;
}
.nav__icon {
  font-size: 3.2rem;
  color: #ffffff;
  cursor: pointer;
}
.nav__icon--user {
  display: none;
}
.nav__ul {
  min-height: 200px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style: none;
  z-index: 99;
}
.nav__li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
.nav__li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.nav__li a:visited {
  color: #ffffff;
}

.button {
  padding: 0.5em 1em;
  background-color: #ffbe33;
  border: none;
  border-radius: 45px;
  color: #ffffff;
  font-size: 1.6rem;
}
.button--light {
  width: 100px;
  border: none;
  outline: none;
  padding: 0.5em 0.7em;
  background-color: transparent;
  border-radius: 45px;
  font-size: 1.6rem;
  color: #1f1f1f;
  font-weight: 400;
  line-height: 1.5;
}

.active {
  background-color: #222831;
  color: #ffffff;
}

.section-hero {
  padding: 4em 1em;
  width: 100%;
  height: 100svh;
  background-image: url("/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-hero__swiper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.section-hero__swiper__wrapper {
  height: 30%;
}
.section-hero__swiper__h1 {
  font-size: 5.6rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.3rem;
}
.section-hero__swiper__p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 1rem;
}
.section-hero__swiper__pagination {
  text-align: left;
  bottom: 0;
  display: flex;
  align-items: center;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background-color: #ffbe33;
  width: 20px;
  height: 20px;
}

.section-menu {
  padding: 4em 1em;
}
.section-menu__h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5em;
}
.section-menu__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 4em;
}
.section-menu__container--food {
  gap: 2em;
}
.section-menu__filter-card {
  max-width: 360px;
  display: none;
  background-color: #222831;
  border-radius: 15px;
}

.filter-card__img-container {
  background-color: #f1f2f3;
  border-radius: 15px 15px 15px 45px;
  margin: -1px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-card__text-container {
  border-radius: 15px;
  height: 215px;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}
.filter-card__img {
  max-width: 100%;
  max-height: 145px;
}
.filter-card__h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
}
.filter-card__p {
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 1.5;
}
.filter-card__h4 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
}

.show {
  display: block;
}

.section-promotions {
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section-promotions__card {
  background-color: #222831;
  display: flex;
  gap: 1em;
  align-items: center;
  min-height: 215px;
  padding: 2em;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #ffffff;
}
.card__container--img {
  width: 165px;
  height: 100%;
  border: 2px solid #ffbe33;
  border-radius: 50%;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card__h5 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}
.card__span {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
}
.card__h6 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
}

.section-about {
  background-color: #222831;
  padding: 10em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.section-about__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  order: 1;
}
.section-about__img-container {
  width: 100%;
  order: 2;
}
.section-about__img {
  width: 100%;
}
.section-about__h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
}
.section-about__p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}

.section-book {
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.section-book__h2 {
  font-size: 4rem;
  margin-bottom: 0.5em;
}
.section-book__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}
.section-book__input {
  height: 50px;
  width: 100%;
  border: 1px solid #222831;
  border-radius: 5px;
  padding: 0 1em;
  min-width: 100%;
  -webkit-appearance: none;
}
.section-book__container {
  width: 100%;
}
.section-book__img {
  object-fit: cover;
}/*# sourceMappingURL=styles.css.map */