@import "variables.scss";

.footer{
    @include section();
    background-color: $color-bg-main;
    color: $color-font-white;
    width: 100%;

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__card{
        margin-bottom: 3em;
        text-align: center;
    }

    &__a{
        display: block;
        color: $color-font-white;
        text-decoration: none;
        &:visited{
            color: $color-font-white;
        }
    }

    &__h5{
        font-size: 2.8rem;
        margin-bottom: 1em;
    }

    i{
       font-size: 1.6rem; 
       line-height: 1.5;
       margin-top: 1em;
       margin-right: .5em;
    }

    &__p{
        font-size: 1.6rem;
        display: inline-block;
        line-height: 1.5;

    }

    &__bottom-container{
        text-align: center;
    }
    
}
