@import "variables.scss";

.nav{
    padding: 1em;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: $color-bg-main;
    

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__h2{
        font-family: $font-heading;
        font-size: 3.2rem;
        color:$color-font-white
    }

    &__icon{
        font-size: 3.2rem;
        color: $color-font-white;
        cursor: pointer;

        &--user{
            display: none;
        }
    }

    &__ul{
        min-height: 200px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        list-style: none;    
        z-index: 99;

    }

    &__li{
        font-family: $font-text;
        font-size: 1.6rem;
        
        a{
            text-transform: uppercase;
            text-decoration: none;
            color: $color-font-white;
            &:visited{
                color: $color-font-white;
            }
        }
    }
}