@import "variables.scss";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin section{
    padding: 1em;
}
html{
    font-size: 10px;
}

h1,h2,h3,h4,h5,h6,span{
    font-family: $font-heading;
}

p,button{
    font-family: $font-text;
}