@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

@import "reset.scss";
@import "variables.scss";
@import "nav.scss";
@import "button.scss";
@import "section-hero.scss";
@import "section-menu.scss";
@import "section-promotions.scss";
@import "section-about.scss";


.section-book{
    @include section();
    display: flex;
    flex-direction: column;
    gap: 5em;

    &__h2{
        font-size: 4rem;
        margin-bottom: .5em;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
    }

    &__input{
        height: 50px;
        width: 100%;
        border: 1px solid $color-bg-main;
        border-radius: 5px;
        padding: 0 1em;
    }

    &__container{
        width: 100%;
    }

    &__img{
        width: 100%;
        object-fit: cover;
    }
}