@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

@import "reset.scss";
@import "variables.scss";
@import "nav.scss";
@import "button.scss";
@import "section-hero.scss";
@import "section-menu.scss";
@import "section-promotions.scss";


.section-menu{
    @include section();
    &__h2{
       
        font-size: 4.0rem;
        text-align: center;
        margin-bottom: 1.5em;

    }

    &__container{

        &--btn{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: .5em;
        }
    }

    &__filter-card{
        display: none;
    }


}

.show {
    display: block;
  }